* {
  box-sizing: border-box;
  /* Developement 
  outline: 2px solid red; */
}

body {
  margin: auto;
  padding: auto;
  background-color: #8f00ff;
  color: white;
  font-family: "Send Flowsers", cursive;
}

nav {
  background-color: #adff02;
  margin: 0px;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  box-shadow: 5px 5px 5px #312244;
  font-size: 30px;
  font-family: "Lavishly Yours", cursive;
}

.profile {
  background-color: #012a4a;
  border: 20px solid #01497c;
  border-bottom-color: #01497c;
  border-left-color: #013a63;
  border-radius: 5px;
  border-right-color: #013a63;
  border-top-color: #01497c;
  box-shadow: 10px 10px 5px #312244;
  margin: 0px 50px 0px 0px;
  padding: 5px;
  text-align: center;
}

.first-section {
  margin: 20px;
  display: flex;
  justify-content: center;
}

h1 {
  margin: 5px 0px 0px 0px;
  font-family: "Pasifico", cursive;
  font-size: 65px;
  color: #0fd7ff;
  text-shadow: 4px 4px 4px blue;
  display: flex;
  justify-content: center;
}

.interest-card {
  margin: 0px;
  padding: 0px 0px 10px 20px;
  background-color: #012a4a;
  box-shadow: 10px 10px 5px #312244;
  border-radius: 5%;
}

.character-card {
  margin: 0px;
  padding: 0px 20px 0px 20px;
  background-color: #012a4a;
  box-shadow: 10px 10px 5px #312244;
  border-radius: 5%;
}

.cards {
  margin: 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: "Send Flowsers", cursive;
}

.cards h4 {
  font-size: 30px;
  text-decoration: underline;
}

.contact {
  margin: 70px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: ;
  background-color: #012a4a;
  border-radius: 5%;
  font-family: "Send Flowsers", cursive;
  box-shadow: 10px 10px 5px #312244;
}

.contact h2 {
  margin: 10px;
  font-size: 30px;
  text-decoration: underline;
}

.contact p {
  display: flex;
  justify-content: center;
}

.links {
  margin: 0px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.links img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.github-link {
  margin: 0px;
  padding: 10px;
  display: flex;
  background-color: aquamarine;
  border-radius: 10%;
}

.github-link a {
  color: black;
}

.instagram-link {
  margin: 0px;
  padding: 10px;
  display: flex;
  background-color: aquamarine;
  border-radius: 10%;
}

.instagram-link a {
  color: black;
}

.xing-link {
  margin: 0px;
  padding: 10px;
  display: flex;
  background-color: aquamarine;
  border-radius: 10%;
}

.xing-ink a {
  color: black;
}

.me {
  margin: 30px;
  padding: 30px;
  background-color: #012a4a;
  border-radius: 5%;
}

.me h2 {
  margin: 0px;
  font-size: 30px;
  text-decoration: underline;
}

.bio {
  margin: 30px;
  padding: 30px;
  background-color: #012a4a;
  border-radius: 5%;
}

.bio h2 {
  margin: 0px;
  font-size: 30px;
  text-decoration: underline;
}
