* {
  box-sizing: border-box;
  /* Developement 
  outline: 2px solid red; */
}

body {
  margin: auto;
  padding: auto;
  /*background-color: #c1d3fe; */
  color: white;
  font-family: "Send Flowsers", cursive;
  background-image: linear-gradient(to bottom, #e0c3fc, #5a189a);
}

/*span {
} */

nav {
  background-color: #000814;
  margin: 0px;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 30px;
  font-family: "Lavishly Yours", cursive;
}

a:visited {
  color: #0fd7ff;
}

a:hover {
  color: darkorange;
}

h1 {
  margin: 5px 0px 0px 0px;
  font-family: "Pasifico", cursive;
  font-size: 80px;
  color: #0fd7ff;
  text-shadow: 4px 4px 4px blue;
  display: flex;
  justify-content: center;
}

.profile {
  background-color: #277da1;
  border: 20px solid #01497c;
  border-bottom-color: #01497c;
  border-left-color: #013a63;
  border-radius: 10px;
  border-right-color: #013a63;
  border-top-color: #01497c;
  box-shadow: 10px 10px 5px #312244;
  margin: 0px 50px 0px 0px;
  padding: 5px;
  text-align: center;
}

section img {
  max-width: 200px;
}

.head-section {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.interest-card {
  margin: 0px;
  padding: 0px 15px 10px 20px;
  background-color: #012a4a;
  box-shadow: 10px 10px 5px #312244;
  border-radius: 10px;
}

.character-card {
  margin: 0px;
  padding: 0px 20px 0px 20px;
  background-color: #012a4a;
  box-shadow: 10px 10px 5px #312244;
  border-radius: 10px;
}

.cards {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  font-family: "Send Flowsers", cursive;
}

.cards h4 {
  font-size: 20px;
  text-decoration: underline;
}

.contact {
  margin: 15px;
  padding: 5px;
  display: flex;
  width: 400px;
  flex-direction: column;
  max-width: 600px;
  background-color: #012a4a;
  border-radius: 10px;
  font-family: "Send Flowsers", cursive;
  box-shadow: 10px 10px 5px #312244;
}

.contact-wrapper {
  display: flex;
  justify-content: center;
}

.contact h2 {
  margin: auto;
  font-size: 30px;
  text-decoration: underline;
}

.contact p {
  display: flex;
  justify-content: center;
}

.links {
  margin: 0px;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.links img {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
}

.social-card {
  margin: 0px;
  padding: 10px;
  display: flex;
  background-color: #277da1;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #312244;
}

.social-card a {
  display: flex;
  flex-direction: row;
  color: black;
  font-size: 10px;
}

.link-text {
  padding: 3px;
  display: flex;
  flex-direction: column;
}

.information-section {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  gap: 20px;
}
.font {
  margin: 0px;
  font-size: 30px;
  text-decoration: underline;
}

.text {
  margin: auto;
  padding: 30px;
  width: 100%;
  background-color: #012a4a;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #312244;
}
